<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zez.backend.mapper.ProjectMapper">

    <insert id="insertProject" flushCache="true" parameterType="com.zez.backend.entity.Project">
        INSERT INTO project (project_id, construction_nature_id, project_name, unit_id, sub_unit_id)
        VALUES(#{projectId},#{constructionNatureId},#{projectName},#{unitId},#{subUnitId});
    </insert>

    <update id="updateProjectById" flushCache="true" parameterType="com.zez.backend.entity.Project">
        UPDATE project
        set construction_nature_id=#{constructionNatureId},
            project_name=#{projectId},
            unit_id=#{unitId},
            sub_unit_id=#{subUnitId}
        WHERE project_id = #{projectId}
    </update>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO project (project_id, construction_nature_id, project_name, unit_id, sub_unit_id)
        VALUES
        <foreach collection="list" item="project" index="index" separator=",">
            (
                #{project.projectId},
                #{project.constructionNatureId},
                #{project.projectName},
                #{project.unitId},
                #{project.subUnitId}
            )
        </foreach>
    </insert>


</mapper>
