<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zez.backend.mapper.UnitMapper">

    <resultMap id="AllUnit" type="com.zez.backend.entity.Unit">
        <id column="unit_id" property="unitId"/>
        <result column="unit_name" property="unitName"/>
        <collection property="subUnits" ofType="com.zez.backend.entity.Unit">
            <id column="sub_unit_id" property="unitId"/>
            <result column="sub_unit_name" property="unitName"/>
            <result column="upper_level_id" property="upperLevelId"/>
        </collection>
    </resultMap>


    <select id="listAllUnit" resultMap="AllUnit" >
        SELECT
               unit_id,
               unit_name,
               sub_unit_id,
               sub_unit_name,
               upper_level_id
        FROM unit
        LEFT JOIN sub_unit ON unit.unit_id = sub_unit.upper_level_id;
    </select>

    <resultMap id="Unit" type="com.zez.backend.entity.Unit">
        <id column="unit_id" property="unitId"/>
        <result column="unit_name" property="unitName"/>
    </resultMap>

    <select id="findUnitById" resultMap="Unit" >
        SELECT * FROM unit
        WHERE unit_id = #{id}
    </select>
</mapper>
